Django==4.2.10 
gunicorn==24.1.1 
whitenoise==6.11.0 
psycopg2-binary==2.9.9 
dj-database-url==3.1.0 
asgiref==3.10.0 
sqlparse==0.5.3 
pillow==11.2.1 
pandas==2.2.3 
numpy==2.2.5 
openpyxl==3.1.5 
python-docx==1.1.2 
reportlab==4.4.0 
lxml==5.4.0 
tzdata==2025.2 
python-dateutil==2.9.0.post0 
